# Latest Received Scraped Fixtures

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedFixturesAPI/LatestReceivedScrapedFixtures.ipynb)

- Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '5ee27a085a1a40ac8cc84309cab3957e' # replace with your subscription key

This example uses the Scraped Fixtures API in order to get the latest fixtures for tanker and dry.
The final results are exported to csv files.

## Setup

### Import libraries

In [2]:
%%capture
%pip install signal-ocean

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
pd.set_option('display.width', 1000)
from datetime import datetime, timedelta,timezone
import plotly.graph_objects as go
import plotly.express as px


from signal_ocean import Connection
from signal_ocean.scraped_fixtures import ScrapedFixturesAPI

##  Results

In [3]:
fields_to_show_tankers=['updated_date','content','sender','vessel_name','load_name','discharge_name','charterer','rate_value','rate_type','fixture_status']

### Latest scraped fixtures for tankers

In [4]:
vessel_type_id = 1 # tanker
date_from = datetime.now(timezone.utc) - timedelta(hours=1, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

tanker_results = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(tanker_results)))
if not tanker_results.empty:
    tanker_results = tanker_results.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    tanker_results[fields_to_show_tankers].head(60)

Show 102 fixtures

                 updated_date content    sender         vessel_name load_name discharge_name charterer  rate_value rate_type fixture_status
92  2022-04-26 09:51:10+00:00    None       SSY         Aristarchos      None           None      None         NaN      None         OnSubs
91  2022-04-26 09:51:10+00:00    None       SSY          BW Shinano      None           None      None         NaN      None         OnSubs
100 2022-04-26 09:51:10+00:00    None       SSY    Chemtrans Baltic      None           None      None         NaN      None         OnSubs
99  2022-04-26 09:51:10+00:00    None       SSY         Fulham Road      None           None      None         NaN      None         OnSubs
93  2022-04-26 09:51:10+00:00    None       SSY    Hafnia Guangzhou      None           None      None         NaN      None         OnSubs
98  2022-04-26 09:51:10+00:00    None       SSY    Hafnia Guangzhou      None           None      None         NaN      None         OnSubs
96  2022-04-26 09:51:10+00:00    None       SSY           Hampstead      None           None      None         NaN      None         OnSubs
94  2022-04-26 09:51:10+00:00    None       SSY        Mindoro Star      None           None      None         NaN      None         OnSubs
101 2022-04-26 09:51:10+00:00    None       SSY      Nautical Sarah      None           None      None         NaN      None         OnSubs
95  2022-04-26 09:51:10+00:00    None       SSY          Nave Rigel      None           None      None         NaN      None         OnSubs
97  2022-04-26 09:51:10+00:00    None       SSY        STI Expedite      None           None      None         NaN      None         OnSubs
90  2022-04-26 09:48:20+00:00    None       SSY       Alpine Amalia      None           None      None         NaN      None         OnSubs
87  2022-04-26 09:48:20+00:00    None       SSY         Aristarchos      None           None      None         NaN      None         OnSubs
89  2022-04-26 09:48:20+00:00    None       SSY                Pike      None           None      None         NaN      None         OnSubs
88  2022-04-26 09:48:20+00:00    None       SSY         SFL Panther      None           None      None         NaN      None         OnSubs
84  2022-04-26 09:46:59+00:00    None       SSY          Afra Rossi      None           None      None         NaN      None         OnSubs
85  2022-04-26 09:46:59+00:00    None       SSY             Aristea      None           None      None         NaN      None         OnSubs
86  2022-04-26 09:46:59+00:00    None       SSY           P. Kikuma      None           None      None         NaN      None         OnSubs
80  2022-04-26 09:46:15+00:00    None       SSY          Afra Rossi      None           None      None         NaN      None         OnSubs
79  2022-04-26 09:46:15+00:00    None       SSY     Aframax Riviera      None           None      None         NaN      None         OnSubs
82  2022-04-26 09:46:15+00:00    None       SSY             Aristea      None           None      None         NaN      None         OnSubs
78  2022-04-26 09:46:15+00:00    None       SSY       Eagle Kuching      None           None      None         NaN      None         OnSubs
74  2022-04-26 09:46:15+00:00    None       SSY               Elona      None           None      None         NaN      None         OnSubs
75  2022-04-26 09:46:15+00:00    None       SSY           Jag Leela      None           None      None         NaN      None         OnSubs
83  2022-04-26 09:46:15+00:00    None       SSY           P. Kikuma      None           None      None         NaN      None         OnSubs
76  2022-04-26 09:46:15+00:00    None       SSY            P. Yanbu      None           None      None         NaN      None         OnSubs
77  2022-04-26 09:46:15+00:00    None       SSY            Seatrust      None           None      None         NaN      None         OnSubs
81  2022-04-26 09:46:15+00:00    None       SSY     Wonder Arcturus      None           None      None         NaN      None         OnSubs
67  2022-04-26 09:45:37+00:00    None       SSY          Afra Rossi      None           None      None         NaN      None         OnSubs
72  2022-04-26 09:45:37+00:00    None       SSY             Aristea      None           None      None         NaN      None         OnSubs
69  2022-04-26 09:45:37+00:00    None       SSY       Eagle Kuching      None           None      None         NaN      None         OnSubs
68  2022-04-26 09:45:37+00:00    None       SSY           Jag Leela      None           None      None         NaN      None         OnSubs
71  2022-04-26 09:45:37+00:00    None       SSY           P. Kikuma      None           None      None         NaN      None         OnSubs
73  2022-04-26 09:45:37+00:00    None       SSY            P. Yanbu      None           None      None         NaN      None         OnSubs
70  2022-04-26 09:45:37+00:00    None       SSY     Wonder Arcturus      None           None      None         NaN      None         OnSubs
66  2022-04-26 09:45:22+00:00    None       SSY            P. Yanbu      None           None      None         NaN      None         OnSubs
63  2022-04-26 09:44:43+00:00    None       SSY       Alpine Amalia      None           None      None         NaN      None         OnSubs
64  2022-04-26 09:44:43+00:00    None       SSY         Aristarchos      None           None      None         NaN      None         OnSubs
65  2022-04-26 09:44:43+00:00    None       SSY                Pike      None           None      None         NaN      None         OnSubs
62  2022-04-26 09:44:43+00:00    None       SSY         SFL Panther      None           None      None         NaN      None         OnSubs
61  2022-04-26 09:22:02+00:00    None       SSY       Alpine Amalia      None           None      None         NaN      None         OnSubs
60  2022-04-26 09:22:02+00:00    None       SSY        Captain John      None           None      None         NaN      None         OnSubs
47  2022-04-26 09:22:02+00:00    None       SSY     Celsius Everett      None           None      None         NaN      None         OnSubs
53  2022-04-26 09:22:02+00:00    None       SSY        Front Favour      None           None      None         NaN      None         OnSubs
48  2022-04-26 09:22:02+00:00    None       SSY          Onex Peace      None           None      None         NaN      None         OnSubs
49  2022-04-26 09:22:02+00:00    None       SSY        Pro Alliance      None           None      None         NaN      None         OnSubs
46  2022-04-26 09:22:02+00:00    None       SSY        Rong Lin Wan      None           None      None         NaN      None         OnSubs
55  2022-04-26 09:22:02+00:00    None       SSY         SFL Panther      None           None      None         NaN      None         OnSubs
54  2022-04-26 09:22:02+00:00    None       SSY           SKS Delta      None           None      None         NaN      None         OnSubs
56  2022-04-26 09:22:02+00:00    None       SSY         STI Lobelia      None           None      None         NaN      None         OnSubs
52  2022-04-26 09:22:02+00:00    None       SSY           STI Spiga      None           None      None         NaN      None         OnSubs
57  2022-04-26 09:22:02+00:00    None       SSY  Seaways Shenandoah      None           None      None         NaN      None         OnSubs
59  2022-04-26 09:22:02+00:00    None       SSY         Tao Lin Wan      None           None      None         NaN      None         OnSubs
50  2022-04-26 09:22:02+00:00    None       SSY         Thunderbolt      None           None      None         NaN      None         OnSubs
51  2022-04-26 09:22:02+00:00    None       SSY         Torm Helene      None           None      None         NaN      None         OnSubs
58  2022-04-26 09:22:02+00:00    None       SSY         Torm Marina      None           None      None         NaN      None         OnSubs
45  2022-04-26 09:13:50+00:00    None  Affinity       Leon Poseidon      None           None      None         NaN      None         OnSubs
44  2022-04-26 09:13:50+00:00    None  Affinity          STI Camden      None           None      None         NaN      None         OnSubs
41  2022-04-26 09:13:50+00:00    None  Affinity             Seahake      None           None      None         NaN      None         OnSubs
39  2022-04-26 09:13:50+00:00    None  Affinity              Searay      None           None      None         NaN      None         OnSubs

#### Export to csv

In [5]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_tankers.csv'
tanker_results.to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Voyage Charter)

In [6]:
fields_to_show_dry_VC=['updated_date','content','sender','vessel_name','load_name','discharge_name','charterer','rate_value','rate_type','fixture_status']

In [7]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_VC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
dry_results_VC = dry_results_VC[dry_results_VC.charter_type_id==0]
print('Show {} fixtures'.format(len(dry_results_VC)))
if not dry_results_VC.empty:
    dry_results_VC = dry_results_VC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_VC[fields_to_show_dry_VC].head(60)

Show 9 fixtures

                updated_date                                            content               sender        vessel_name                    load_name discharge_name                                          charterer  rate_value rate_type fixture_status
32 2022-04-26 09:39:08+00:00  ANDRIA 75375/06 12.3(L)/13.2(B) N 26 INCHON 24...  Carriers Chartering             Andria     West Coast North America           None  China National Cereals, Oils and Foodstuffs Co...    22000.00       TCE     FullyFixed
36 2022-04-26 09:39:08+00:00                                               None  Carriers Chartering  Priscilla Venture                         None           None                                               None         NaN      None         OnSubs
33 2022-04-26 09:39:08+00:00  TAHITI ONE 81291/12 11K N 22(L)/19(B) LONGKOU ...  Carriers Chartering         Tahiti One     West Coast North America           None                                                RGL    22000.00       TCE         OnSubs
35 2022-04-26 09:39:08+00:00  PAN OCEAN TBN MIN 80/MAX 88000 COAL ROBERTS BA...  Carriers Chartering               None                 Roberts Bank   Georyu-Myeon                                              KEPCO       24.90       PMT           None
30 2022-04-26 07:07:27+00:00  Vitol was said to have the 2014-built 180,694 ...  Carriers Chartering          Jag Alaia  Richard's Bay Coal Terminal      Rotterdam                                              Vitol       14.50       PMT           None
23 2022-04-26 06:57:57+00:00  'TBN ' 170000/10 Dampier/Qingdao 6/8 May $10.5...            Clarksons               None                      Dampier        Qingdao                                    Rio Tinto Group       10.50       PMT           None
24 2022-04-26 06:57:57+00:00  'TBN ' Port Cartier/Qingdao 30 Apr/9 May $31.6...            Clarksons               None                      Cartier        Qingdao                                      Arcelormittal       31.65       PMT           None
15 2022-04-26 06:56:31+00:00  'Panocean TBN' 170000/10 Tubarao/Qingdao 1/10 ...            Clarksons               None                      Tubarao        Qingdao                                               Vale       24.90       PMT           None
16 2022-04-26 06:56:31+00:00  'TBN ' 170000/10 Port Hedland/Qingdao 9/11 May...            Clarksons               None                 Port Hedland        Qingdao                                       BHP Billiton       10.70       PMT           None

#### Export to csv

In [8]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_VC.csv'
dry_results_VC.to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Time Charter)

In [9]:
fields_to_show_dry_TC=['updated_date','content','sender','vessel_name','load_name','delivery_name','redelivery_from_name','charterer','rate_value','rate_type','fixture_status']

In [10]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_TC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
dry_results_TC = dry_results_TC[dry_results_TC.charter_type_id==1]
print('Show {} fixtures'.format(len(dry_results_TC)))
if not dry_results_TC.empty:
    dry_results_TC = dry_results_TC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_TC[fields_to_show_dry_TC].head(60)

Show 28 fixtures

                updated_date                                            content               sender         vessel_name                 load_name  delivery_name      redelivery_from_name                                          charterer  rate_value rate_type fixture_status
34 2022-04-26 09:39:08+00:00  SHUN FU WANG 75966/02 13(B)/ 12(L) N 25 CHAOZH...  Carriers Chartering        Shun Fu Wang                 Indonesia       Chaozhou                    Taiwan                                             Hanaro     13000.0       TCE         OnSubs
29 2022-04-26 07:07:27+00:00  COSCO was linked with the 2011-built 93,072 dw...  Carriers Chartering       Ocean Oceanus            Australia East         Hsinta                    Taiwan                                              COSCO     23500.0       TCE           None
31 2022-04-26 07:07:27+00:00  Cargill was linked with the 2013-built 35,542 ...  Carriers Chartering  Strategic Savannah                      None         Santos                 Black Sea                                            Cargill     37000.0       TCE           None
26 2022-04-26 07:03:02+00:00  MV Great Victory 77/15 del dop Lianyungang 24 ...            Clarksons       Great Victory                 Australia    Lianyungang                     India                                   Pacific Carriers     24000.0       TCE           None
28 2022-04-26 07:03:02+00:00  MV Lucky Jason 74/01 del dop Taishan 24 April ...            Clarksons         Lucky Jason                 Indonesia        Taishan        Korea, Republic of                                         Five Ocean     20000.0       TCE           None
27 2022-04-26 07:03:02+00:00  MV Selina 75/10 del dop Taichung 1/2 May TCT w...            Clarksons              Selina                 Australia       Taichung                    Taiwan                                                CSE     22750.0       TCE           None
25 2022-04-26 07:03:02+00:00  MV Star Sapphire 82/19 del dop Surabaya 26 Apr...            Clarksons       Star Sapphire                 Australia       Surabaya                     India                                               None     30000.0       TCE           None
19 2022-04-26 06:57:57+00:00  The AP Dubrava (38,703 2015) open Houston 24th...            Clarksons          AP Dubrava                      None        Houston                   Antwerp                                          Canfornav     38000.0       TCE     FullyFixed
17 2022-04-26 06:57:57+00:00  The GH Glory (74,973 2010) Lumut 1/3 May was s...            Clarksons            GH Glory  East Coast South America          Lumut                  Far East                                         Oldendorff     26000.0       TCE     FullyFixed
21 2022-04-26 06:57:57+00:00  'Great Victory' 2015 77853 dwt dely Lianyungan...            Clarksons       Great Victory                 Australia    Lianyungang                     India                                   Pacific Carriers     24000.0       TCE           None
18 2022-04-26 06:57:57+00:00  The Lucky Jason (74,195 2001) Taishan 24 April...            Clarksons         Lucky Jason                 Indonesia        Taishan        Korea, Republic of                                         Five Ocean     20000.0       TCE         OnSubs
22 2022-04-26 06:57:57+00:00  'Medi Paestum' 2009 55614 dwt dely Qinzhou 25/...            Clarksons        Medi Paestum                 Indonesia        Qinzhou               Philippines                                          Canfornav     25000.0       TCE           None
20 2022-04-26 06:57:57+00:00  'Ocean Oceanus' 2011 93072 dwt dely Hsinta 28 ...            Clarksons       Ocean Oceanus                 Australia         Hsinta                    Taiwan                                              COSCO     23500.0       TCE           None
10 2022-04-26 06:56:31+00:00  the Guo Yuan 10 (75,980 2011) passing Singapor...            Clarksons         Guo Yuan 10  East Coast South America      Singapore                 Singapore                                             Reachy     25000.0       TCE           None
9  2022-04-26 06:56:31+00:00  The Cobelfret controlled Jag Aalok (82,002 201...            Clarksons           Jag Aalok                   US Gulf  Reydarfjordur                  Far East                                          Cobelfret     40000.0       TCE         OnSubs
14 2022-04-26 06:56:31+00:00  'Kiran Marmara' 2014 63714 dwt dely Paradip 24...            Clarksons       Kiran Marmara                      None        Paradip                     China                                    Athena Shipping     27500.0       TCE           None
12 2022-04-26 06:56:31+00:00  'Mineral Dragon ' CCL relet 2008 178062 dwt de...            Clarksons      Mineral Dragon              South Africa      Amsterdam                     China                                             Enesel     28000.0       TCE           None
11 2022-04-26 06:56:31+00:00  The scrubber fitted Pedhoulas Cherry (82,013 2...            Clarksons    Pedhoulas Cherry                 Newcastle         Dafeng                     Japan                                 NYK Shipmanagement     23000.0       TCE     FullyFixed
13 2022-04-26 06:56:31+00:00  'Star Moira' 2006 82220 dwt dely retro Gibralt...            Clarksons          Star Moira  East Coast South America      Gibraltar                      Skaw                                            Cargill     27000.0       TCE           None
8  2022-04-26 06:44:11+00:00  Mv arcadia salute 95/14 reihoku 27 apr on subs...               Ifchor      Arcadia Salute                      None        Reihoku  West Coast North America                                          Cobelfret     26000.0       TCE         OnSubs
7  2022-04-26 06:44:11+00:00  Mv guo yuan 8 75/11 kwangyang 30 apr fxd nopac...               Ifchor          Guo Yuan 8                      None      Kwangyang  West Coast North America  China National Cereals, Oils and Foodstuffs Co...     22250.0       TCE     FullyFixed
3  2022-04-26 06:36:43+00:00  MV Atrotos Heracles 81/14 del passing Gib 23 A...            Clarksons    Atrotos Heracles                   US Gulf      Gibraltar                  Far East                                               None     40000.0       TCE           None
2  2022-04-26 06:36:43+00:00  MV Belgrano 81/15 del retro Paradip 19 April T...            Clarksons            Belgrano  East Coast South America        Paradip                 Singapore                                               None     30000.0       TCE           None
6  2022-04-26 06:36:43+00:00  MV Green K-Max 2 81/19 del China 25 May / 10 J...            Clarksons       Green K-Max 2                      None          China                      None                                               None     30000.0       TCE     FullyFixed
4  2022-04-26 06:36:43+00:00  MV Guo Yuan 10 75/11 del passing Singapore 27/...            Clarksons         Guo Yuan 10  East Coast South America      Singapore                 Singapore                                             Reachy     25000.0       TCE           None
0  2022-04-26 06:36:43+00:00  MV Jag Aalok 82/16 del dop Reydarfjordur 24 Ap...            Clarksons           Jag Aalok                   US Gulf  Reydarfjordur                 Singapore                                               None     40000.0       TCE           None
5  2022-04-26 06:36:43+00:00  MV Ocean Oceanus 93/11 del dop Taiwan 28 April...            Clarksons       Ocean Oceanus                 Australia         Taiwan                    Taiwan                                    Refined Success         NaN      None           None
1  2022-04-26 06:36:43+00:00  MV Star Moira 82/06 del passing Gib 15 April T...            Clarksons          Star Moira  East Coast South America      Gibraltar                      Skaw                                            Cargill     27000.0       TCE           None

#### Export to csv

In [11]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_TC.csv'
dry_results_TC.to_csv(output_path+filename,index=False)