# Latest Received Scraped Fixtures

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedFixturesAPI/LatestReceivedScrapedFixtures.ipynb)

- Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [5]:
signal_ocean_api_key = '' # replace with your subscription key

This example uses the Scraped Fixtures API in order to get the latest fixtures for tanker and dry.
The final results are exported to csv files.

## Setup

### Import libraries

In [6]:
%%capture
%pip install signal-ocean

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
pd.set_option('display.width', 1000)
from datetime import datetime, timedelta,timezone
import plotly.graph_objects as go
import plotly.express as px


from signal_ocean import Connection
from signal_ocean.scraped_fixtures import ScrapedFixturesAPI

##  Results

In [7]:
fields_to_show_tankers=['updated_date','vessel_name','quantity','load_name','discharge_name','laycan_from','rate_value','rate_type','charterer','cargo_type','content','sender']

### Latest scraped fixtures for tankers

In [8]:
vessel_type_id = 1 # tanker
date_from = datetime.now(timezone.utc) - timedelta(hours=1, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

tanker_results = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(tanker_results)))
if not tanker_results.empty:
    tanker_results = tanker_results.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    tanker_results[fields_to_show_tankers].head(10)

Show 250 fixtures

                 updated_date          vessel_name  quantity     load_name        discharge_name               laycan_from  rate_value rate_type               charterer                cargo_type                                            content sender
241 2022-05-11 09:20:03+00:00            Amfitrion   35000.0         Sikka                Durban 2022-05-23 00:00:00+00:00       382.5        WS                   Engen                    Gasoil  amfitrion subs engen 35 go sikka durban 23/may...    SSY
249 2022-05-11 09:20:03+00:00      Arctic Flounder   55000.0  Arabian Gulf              Far East 2022-05-25 00:00:00+00:00       310.0        WS                   Shell                   Naphtha  arctic flounder fxd shell 55 nap ag feast 25/m...    SSY
238 2022-05-11 09:20:03+00:00               Arctos   35000.0         Sikka                Brazil 2022-05-16 00:00:00+00:00   4200000.0        LS                Reliance  Ultra Low Sulphur Diesel  arctos subs reliance 35 ulsd sikka brazil 16/m...    SSY
222 2022-05-11 09:20:03+00:00           BW Larissa   90000.0  Arabian Gulf                  West 2022-05-25 00:00:00+00:00         NaN      None                    None  Ultra Low Sulphur Diesel      bw larissa fxd cnr 90 ulsd ag west 25/may rnr    SSY
230 2022-05-11 09:20:03+00:00                Bahra   75000.0  Arabian Gulf                 Japan 2022-05-19 00:00:00+00:00       295.0        WS                   Shell                   Naphtha         bahra fxd shell 75 nap ag jpn 19/may ws295    SSY
209 2022-05-11 09:20:03+00:00  Chang Hang Feng Cai   35000.0       Incheon      Ho Chi Minh City 2022-05-16 00:00:00+00:00         NaN      None                    None                       Jet  chang hang feng cai subs cnr 35 jet inchon nha...    SSY
239 2022-05-11 09:20:03+00:00              Daytona   35000.0         Yanbu           East Africa 2022-05-17 00:00:00+00:00       405.0        WS  Aramco Trading Company  Ultra Low Sulphur Diesel   daytona subs atc 35 ulsd yanbu eafr 17/may ws405    SSY
243 2022-05-11 09:20:03+00:00       Eastern Kalmia   35000.0        Kuwait  United Arab Emirates 2022-05-24 00:00:00+00:00    575000.0        LS                   Shell                       Jet  eastern kalmia subs shell 35 jet kwt uae 24/ma...    SSY
242 2022-05-11 09:20:03+00:00                Elaia   35000.0  Arabian Gulf           East Africa 2022-05-23 00:00:00+00:00       392.5        WS                Glencore  Ultra Low Sulphur Diesel  elaia subs st 35 ulsd ag eafr-safr 23/may ws39...    SSY
244 2022-05-11 09:20:03+00:00                Elaia   35000.0  Arabian Gulf          South Africa 2022-05-23 00:00:00+00:00       382.5        WS                Glencore  Ultra Low Sulphur Diesel  elaia subs st 35 ulsd ag eafr-safr 23/may ws39...    SSY

#### Export to csv

In [9]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_tankers.csv'
re_arrange_columns = fields_to_show_tankers + list(set(tanker_results.columns) - set(fields_to_show_tankers))
tanker_results[re_arrange_columns].to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Voyage Charter)

In [10]:
fields_to_show_dry_VC=['updated_date','vessel_name','quantity_from','quantity_to','load_name','discharge_name','laycan_from','rate_value','rate_type','charterer','cargo_type','content','sender']

In [11]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=24, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_VC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(dry_results_VC)))
if not dry_results_VC.empty:
    dry_results_VC = dry_results_VC[dry_results_VC.charter_type_id==0]
    dry_results_VC = dry_results_VC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_VC[fields_to_show_dry_VC].head(10)

Show 112 fixtures

                 updated_date      vessel_name  quantity_from  quantity_to                load_name      discharge_name               laycan_from  rate_value rate_type                   charterer cargo_type                                            content               sender
108 2022-05-11 08:16:40+00:00      Ionic Kleos        67500.0      82500.0  Convent Marine Terminal             Dunkirk 2022-06-01 00:00:00+00:00       33.50       PMT                      Uniper   Iron Ore  IONIC KLEOS (82,250 2014) 75/10 IRON ORE CMT/D...  Carriers Chartering
107 2022-05-11 07:28:15+00:00       Pan Bicorn            NaN          NaN                     None                None                       NaT         NaN      None                        None       None                                               None               Ifchor
105 2022-05-11 07:28:10+00:00       Amoy Sunny            NaN          NaN                Australia  Korea, Republic of 2022-05-14 00:00:00+00:00    27000.00       TCE  Korea Shipping Corporation       None  Mv amoy sunny 77/06 kinuura 14 may ok subs aus...               Ifchor
104 2022-05-11 07:28:10+00:00        Sdtr Hera            NaN          NaN                Australia               India 2022-05-09 00:00:00+00:00    30500.00       TCE                        Tata       None  Mv sdtr hera 84/22 busan 09 may fxd aus/india ...               Ifchor
102 2022-05-11 07:00:35+00:00             None        72000.0      88000.0                 Semirara          Youngheung 2022-05-18 00:00:00+00:00       14.00       PMT                       KEPCO       Coal  MV Five Ocean TBN fixed 80/10 Coal Semirara / ...            Clarksons
103 2022-05-11 07:00:35+00:00             None        63000.0      77000.0                Gladstone          Samcheonpo 2022-05-26 00:00:00+00:00       23.44       PMT                       KEPCO       Coal  MV Korea Shipping TBN fixed 70/10 Coal Gladsto...            Clarksons
93  2022-05-11 06:57:20+00:00  Berge Ishizuchi       153000.0     187000.0                  Whyalla             Qingdao 2022-05-22 00:00:00+00:00       20.00       PMT                  Oldendorff       None  'Berge Ishizuchi ' 2011 170000/10 Whyalla/Qing...            Clarksons
92  2022-05-11 06:57:20+00:00             None       162000.0     198000.0             Port Hedland             Qingdao 2022-05-26 00:00:00+00:00       14.00       PMT                    Roy Hill       None  'TBN' 180000/10 Port Hedland/Qingdao 26/29 May...            Clarksons
94  2022-05-11 06:57:20+00:00             None        72000.0      88000.0                 Semirara          Youngheung 2022-05-18 00:00:00+00:00       14.00       PMT                       KEPCO       None  'Five Ocean TBN' 80000/10 Semirara/Yongheung '...            Clarksons
87  2022-05-11 06:11:59+00:00             None            NaN          NaN                     None                None                       NaT         NaN      None                        None       None                                               None  Carriers Chartering

#### Export to csv

In [12]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_VC.csv'
re_arrange_columns = fields_to_show_dry_VC + list(set(dry_results_VC.columns) - set(fields_to_show_dry_VC))
dry_results_VC[re_arrange_columns].to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Time Charter)

In [13]:
fields_to_show_dry_TC=['updated_date','vessel_name','delivery_name','load_name','redelivery_from_name','delivery_date_from','rate_value','rate_type','charterer','cargo_type','content','sender']

In [14]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_TC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(dry_results_TC)))
if not dry_results_TC.empty:
    dry_results_TC = dry_results_TC[dry_results_TC.charter_type_id==1]
    dry_results_TC = dry_results_TC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_TC[fields_to_show_dry_TC].head(10)

Show 26 fixtures

                updated_date        vessel_name delivery_name                 load_name redelivery_from_name        delivery_date_from  rate_value rate_type                   charterer cargo_type                                            content               sender
25 2022-05-11 08:16:41+00:00         Amoy Sunny       Kinuura                 Gladstone   Korea, Republic of 2022-05-14 00:00:00+00:00         NaN      None  Korea Shipping Corporation       Coal  AMOY SUNNY (76,598 2006) KINUURA 14/15 MAY FIX...  Carriers Chartering
24 2022-05-11 08:16:40+00:00      Evangelistria       Qingdao  West Coast North America            Singapore 2022-05-11 00:00:00+00:00     27000.0       TCE                     Viterra       None  EVANGELISTRIA (82,514 2007 ) QINGDAO PPT TCT V...  Carriers Chartering
23 2022-05-11 08:16:40+00:00           Flag Evi          Safi  East Coast South America            Singapore                       NaT     43000.0       TCE                  Oldendorff       None  FLAG EVI (82,629 2014) OPEN SAFI FIXED VIA NCS...  Carriers Chartering
20 2022-05-11 07:28:10+00:00  Huayang Endeavour        Taiwan                      None            Indonesia 2022-05-12 00:00:00+00:00     27000.0       TCE          NYK Shipmanagement       None  Mv huayang endeavour 75/13 psg twn 12 may fxd ...               Ifchor
10 2022-05-11 07:00:35+00:00             Delfin          None                      None             Far East 2022-05-27 00:00:00+00:00     27500.0       TCE                      Norden     Grains  MV Delfin 81/17 del aps Reclada 27 May TCT wit...            Clarksons
15 2022-05-11 07:00:35+00:00         Great Hope        Nansha                 Indonesia                India 2022-05-09 00:00:00+00:00     25000.0       TCE                      Tongli       Coal  MV Great Hope 76/12 del dop Nansha 9 May TCT w...            Clarksons
11 2022-05-11 07:00:35+00:00      Great Triumph     Gibraltar         US Atlantic Coast            Gibraltar 2022-05-11 00:00:00+00:00     30500.0       TCE                    Aquavita       Coal  MV Great Triumph 77/15 del passing Gib 11 May ...            Clarksons
14 2022-05-11 07:00:35+00:00           Marina I       Qingdao                 Australia             Viet Nam 2022-05-14 00:00:00+00:00     29000.0       TCE                     Viterra     Grains  MV Marina I 81/15 del dop Qingdao 14 May TCT w...            Clarksons
13 2022-05-11 07:00:35+00:00          Nadeshiko     Tachibana                 Australia                India 2022-05-10 00:00:00+00:00     31250.0       TCE                        Tata       Coal  MV Nadeshiko 85/16 del dop Tachibana 10 May TC...            Clarksons
12 2022-05-11 07:00:35+00:00      Phoenix Ocean   Jorf Lasfar  East Coast South America                 Skaw 2022-05-12 00:00:00+00:00     28000.0       TCE                     Cargill     Grains  MV Phoenix Ocean 76/14 del dop Jorf 12 May TCT...            Clarksons

#### Export to csv

In [15]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_TC.csv'
re_arrange_columns = fields_to_show_dry_TC + list(set(dry_results_TC.columns) - set(fields_to_show_dry_TC))
dry_results_TC[re_arrange_columns].to_csv(output_path+filename,index=False)