# Latest Received Scraped Fixtures

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedFixturesAPI/LatestReceivedScrapedFixtures.ipynb)

- Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '' # replace with your subscription key

This example uses the Scraped Fixtures API in order to get the latest fixtures for tanker and dry.
The final results are exported to csv files.

## Setup

### Import libraries

In [2]:
%%capture
%pip install signal-ocean

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
pd.set_option('display.width', 1000)
from datetime import datetime, timedelta,timezone
import plotly.graph_objects as go
import plotly.express as px


from signal_ocean import Connection
from signal_ocean.scraped_fixtures import ScrapedFixturesAPI

##  Results

In [3]:
fields_to_show_tankers=['updated_date','vessel_name','quantity','load_name','discharge_name','laycan_from','rate_value','rate_type','charterer','cargo_type','content','sender']

### Latest scraped fixtures for tankers

In [4]:
vessel_type_id = 1 # tanker
date_from = datetime.now(timezone.utc) - timedelta(hours=1, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

tanker_results = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(tanker_results)))
if not tanker_results.empty:
    tanker_results = tanker_results.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    tanker_results[fields_to_show_tankers].head(10)

Show 167 fixtures

                 updated_date        vessel_name  quantity load_name discharge_name laycan_from  rate_value rate_type charterer cargo_type content      sender
166 2022-05-31 14:34:24+00:00              Aktea       NaN      None           None         NaT         NaN      None      None       None    None  Italia C&A
165 2022-05-31 14:34:24+00:00  Hafnia Tourmaline       NaN      None           None         NaT         NaN      None      None       None    None  Italia C&A
162 2022-05-31 14:34:24+00:00    Pacific Citrine       NaN      None           None         NaT         NaN      None      None       None    None  Italia C&A
163 2022-05-31 14:34:24+00:00            Piltene       NaN      None           None         NaT         NaN      None      None       None    None  Italia C&A
164 2022-05-31 14:34:24+00:00     Plover Pacific       NaN      None           None         NaT         NaN      None      None       None    None  Italia C&A
158 2022-05-31 14:33:55+00:00             Athlos       NaN      None           None         NaT         NaN      None      None       None    None        MJLF
160 2022-05-31 14:33:55+00:00      Celsius Porto       NaN      None           None         NaT         NaN      None      None       None    None        MJLF
161 2022-05-31 14:33:55+00:00             Cururo       NaN      None           None         NaT         NaN      None      None       None    None        MJLF
159 2022-05-31 14:33:55+00:00        Seaways Oak       NaN      None           None         NaT         NaN      None      None       None    None        MJLF
154 2022-05-31 14:33:21+00:00             Athlos       NaN      None           None         NaT         NaN      None      None       None    None        MJLF

#### Export to csv

In [5]:
if not tanker_results.empty:
    output_path = '' # Change output_path with your path
    filename = 'scraped_fix_tankers.csv'
    re_arrange_columns = fields_to_show_tankers + list(set(tanker_results.columns) - set(fields_to_show_tankers))
    tanker_results[re_arrange_columns].to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Voyage Charter)

In [6]:
fields_to_show_dry_VC=['updated_date','vessel_name','quantity_from','quantity_to','load_name','discharge_name','laycan_from','rate_value','rate_type','charterer','cargo_type','content','sender']

In [7]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=24, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_VC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(dry_results_VC)))
if not dry_results_VC.empty:
    dry_results_VC = dry_results_VC[dry_results_VC.charter_type_id==0]
    dry_results_VC = dry_results_VC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_VC[fields_to_show_dry_VC].head(10)

Show 43 fixtures

                updated_date       vessel_name  quantity_from  quantity_to       load_name    discharge_name               laycan_from  rate_value rate_type        charterer cargo_type                                            content                          sender
42 2022-05-31 09:53:26+00:00         Gladiator            NaN          NaN       Indonesia              None                       NaT    22500.00       TCE             None       None                                               None  d.margariti@thesignalgroup.com
41 2022-05-31 09:44:01+00:00              None        63009.0      77011.0  Puerto Bolivar         Tarragona 2022-06-19 00:00:00+00:00       24.40       PMT             Enel       Coal  OLDENDORFF TBN 70,010 COAL BOLIVAR/TARRAGONA 2...             Carriers Chartering
40 2022-05-31 07:45:11+00:00           W Smash            NaN          NaN            None              None                       NaT         NaN      None             None       None                                               None             Carriers Chartering
35 2022-05-31 06:26:22+00:00  Shandong Mission       171000.0     209000.0           Boffa  Rizhao - Lanshan 2022-06-10 00:00:00+00:00       30.00       PMT  Refined Success       None  'Shandong Mission ' 2021 RWE relet 190000/10 B...                       Clarksons
36 2022-05-31 06:26:22+00:00        Ultra Lynx            NaN          NaN            None              None                       NaT         NaN      None             None       None                                               None                       Clarksons
25 2022-05-30 17:24:05+00:00              None        63009.0      77011.0  Puerto Bolivar         Tarragona 2022-06-19 00:00:00+00:00       24.40       PMT             Enel       Coal  TBN 70,010 COAL BOLIVAR/TARRAGONA 20-19 JUNE S...             Carriers Chartering
19 2022-05-30 16:54:31+00:00              None        63000.0      77000.0  Puerto Bolivar         Tarragona 2022-06-20 00:00:00+00:00       24.40       PMT             Enel       Coal  TBN 70/10, Coal, Bolivar/Tarragona, 20-29 June...               Arrow Shipbroking
16 2022-05-30 16:29:42+00:00              None       159000.0     159000.0          Yantai         Son Duong 2022-06-03 00:00:00+00:00        1.14       PMT             Vale       None  TBN m/m 159000-159000, Yantai/Son Duong, 3-8 J...               Arrow Shipbroking
17 2022-05-30 16:29:42+00:00              None       153000.0     187000.0         Dampier           Qingdao 2022-06-16 00:00:00+00:00       11.45       PMT             None       None  TBN 170/10, Dampier/Qingdao, 16-18 June, 90C/3...               Arrow Shipbroking
13 2022-05-30 16:05:10+00:00              None       144000.0     176000.0    Port Hedland           Qingdao 2022-06-10 00:00:00+00:00       13.10       PMT              FMG       None  TBN 160/10 Port Hedland/Qingdao eta 10 Jun $13...                       Clarksons

#### Export to csv

In [8]:
if not dry_results_VC.empty:
    output_path = '' # Change output_path with your path
    filename = 'scraped_fix_dry_VC.csv'
    re_arrange_columns = fields_to_show_dry_VC + list(set(dry_results_VC.columns) - set(fields_to_show_dry_VC))
    dry_results_VC[re_arrange_columns].to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Time Charter)

In [9]:
fields_to_show_dry_TC=['updated_date','vessel_name','delivery_name','load_name','redelivery_from_name','delivery_date_from','rate_value','rate_type','charterer','cargo_type','content','sender']

In [14]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_TC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(dry_results_TC)))
if not dry_results_TC.empty:
    dry_results_TC = dry_results_TC[dry_results_TC.charter_type_id==1]
    dry_results_TC = dry_results_TC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_TC[fields_to_show_dry_TC].head(10)

Show 0 fixtures

#### Export to csv

In [15]:
if not dry_results_TC.empty:
    output_path = '' # Change output_path with your path
    filename = 'scraped_fix_dry_TC.csv'
    re_arrange_columns = fields_to_show_dry_TC + list(set(dry_results_TC.columns) - set(fields_to_show_dry_TC))
    dry_results_TC[re_arrange_columns].to_csv(output_path+filename,index=False)