# Latest Received Scraped Fixtures

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedFixturesAPI/LatestReceivedScrapedFixtures.ipynb)

- Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '' # replace with your subscription key

This example uses the Scraped Fixtures API in order to get the latest fixtures for tanker and dry.
The final results are exported to csv files.

## Setup

### Import libraries

In [2]:
%%capture
%pip install signal-ocean

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
pd.set_option('display.width', 1000)
from datetime import datetime, timedelta,timezone
import plotly.graph_objects as go
import plotly.express as px


from signal_ocean import Connection
from signal_ocean.scraped_fixtures import ScrapedFixturesAPI

##  Results

In [3]:
fields_to_show_tankers=['updated_date','content','sender','vessel_name','load_name','discharge_name','charterer','rate_value','rate_type','fixture_status']

### Latest scraped fixtures for tankers

In [4]:
vessel_type_id = 1 # tanker
date_from = datetime.now(timezone.utc) - timedelta(hours=1, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

tanker_results = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(tanker_results)))
if not tanker_results.empty:
    tanker_results = tanker_results.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    tanker_results[fields_to_show_tankers].head(10)

Show 102 fixtures

                 updated_date content sender       vessel_name load_name discharge_name charterer  rate_value rate_type fixture_status
92  2022-04-26 09:51:10+00:00    None    SSY       Aristarchos      None           None      None         NaN      None         OnSubs
91  2022-04-26 09:51:10+00:00    None    SSY        BW Shinano      None           None      None         NaN      None         OnSubs
100 2022-04-26 09:51:10+00:00    None    SSY  Chemtrans Baltic      None           None      None         NaN      None         OnSubs
99  2022-04-26 09:51:10+00:00    None    SSY       Fulham Road      None           None      None         NaN      None         OnSubs
93  2022-04-26 09:51:10+00:00    None    SSY  Hafnia Guangzhou      None           None      None         NaN      None         OnSubs
98  2022-04-26 09:51:10+00:00    None    SSY  Hafnia Guangzhou      None           None      None         NaN      None         OnSubs
96  2022-04-26 09:51:10+00:00    None    SSY         Hampstead      None           None      None         NaN      None         OnSubs
94  2022-04-26 09:51:10+00:00    None    SSY      Mindoro Star      None           None      None         NaN      None         OnSubs
101 2022-04-26 09:51:10+00:00    None    SSY    Nautical Sarah      None           None      None         NaN      None         OnSubs
95  2022-04-26 09:51:10+00:00    None    SSY        Nave Rigel      None           None      None         NaN      None         OnSubs

#### Export to csv

In [5]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_tankers.csv'
tanker_results.to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Voyage Charter)

In [6]:
fields_to_show_dry_VC=['updated_date','content','sender','vessel_name','load_name','discharge_name','charterer','rate_value','rate_type','fixture_status']

In [7]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_VC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
dry_results_VC = dry_results_VC[dry_results_VC.charter_type_id==0]
print('Show {} fixtures'.format(len(dry_results_VC)))
if not dry_results_VC.empty:
    dry_results_VC = dry_results_VC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_VC[fields_to_show_dry_VC].head(10)

Show 9 fixtures

                updated_date                                            content               sender        vessel_name                    load_name discharge_name                                          charterer  rate_value rate_type fixture_status
32 2022-04-26 09:39:08+00:00  ANDRIA 75375/06 12.3(L)/13.2(B) N 26 INCHON 24...  Carriers Chartering             Andria     West Coast North America           None  China National Cereals, Oils and Foodstuffs Co...    22000.00       TCE     FullyFixed
36 2022-04-26 09:39:08+00:00                                               None  Carriers Chartering  Priscilla Venture                         None           None                                               None         NaN      None         OnSubs
33 2022-04-26 09:39:08+00:00  TAHITI ONE 81291/12 11K N 22(L)/19(B) LONGKOU ...  Carriers Chartering         Tahiti One     West Coast North America           None                                                RGL    22000.00       TCE         OnSubs
35 2022-04-26 09:39:08+00:00  PAN OCEAN TBN MIN 80/MAX 88000 COAL ROBERTS BA...  Carriers Chartering               None                 Roberts Bank   Georyu-Myeon                                              KEPCO       24.90       PMT           None
30 2022-04-26 07:07:27+00:00  Vitol was said to have the 2014-built 180,694 ...  Carriers Chartering          Jag Alaia  Richard's Bay Coal Terminal      Rotterdam                                              Vitol       14.50       PMT           None
23 2022-04-26 06:57:57+00:00  'TBN ' 170000/10 Dampier/Qingdao 6/8 May $10.5...            Clarksons               None                      Dampier        Qingdao                                    Rio Tinto Group       10.50       PMT           None
24 2022-04-26 06:57:57+00:00  'TBN ' Port Cartier/Qingdao 30 Apr/9 May $31.6...            Clarksons               None                      Cartier        Qingdao                                      Arcelormittal       31.65       PMT           None
15 2022-04-26 06:56:31+00:00  'Panocean TBN' 170000/10 Tubarao/Qingdao 1/10 ...            Clarksons               None                      Tubarao        Qingdao                                               Vale       24.90       PMT           None
16 2022-04-26 06:56:31+00:00  'TBN ' 170000/10 Port Hedland/Qingdao 9/11 May...            Clarksons               None                 Port Hedland        Qingdao                                       BHP Billiton       10.70       PMT           None

#### Export to csv

In [8]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_VC.csv'
dry_results_VC.to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Time Charter)

In [9]:
fields_to_show_dry_TC=['updated_date','content','sender','vessel_name','load_name','delivery_name','redelivery_from_name','charterer','rate_value','rate_type','fixture_status']

In [10]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_TC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
dry_results_TC = dry_results_TC[dry_results_TC.charter_type_id==1]
print('Show {} fixtures'.format(len(dry_results_TC)))
if not dry_results_TC.empty:
    dry_results_TC = dry_results_TC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_TC[fields_to_show_dry_TC].head(10)

Show 28 fixtures

                updated_date                                            content               sender         vessel_name                 load_name delivery_name redelivery_from_name         charterer  rate_value rate_type fixture_status
34 2022-04-26 09:39:08+00:00  SHUN FU WANG 75966/02 13(B)/ 12(L) N 25 CHAOZH...  Carriers Chartering        Shun Fu Wang                 Indonesia      Chaozhou               Taiwan            Hanaro     13000.0       TCE         OnSubs
29 2022-04-26 07:07:27+00:00  COSCO was linked with the 2011-built 93,072 dw...  Carriers Chartering       Ocean Oceanus            Australia East        Hsinta               Taiwan             COSCO     23500.0       TCE           None
31 2022-04-26 07:07:27+00:00  Cargill was linked with the 2013-built 35,542 ...  Carriers Chartering  Strategic Savannah                      None        Santos            Black Sea           Cargill     37000.0       TCE           None
26 2022-04-26 07:03:02+00:00  MV Great Victory 77/15 del dop Lianyungang 24 ...            Clarksons       Great Victory                 Australia   Lianyungang                India  Pacific Carriers     24000.0       TCE           None
28 2022-04-26 07:03:02+00:00  MV Lucky Jason 74/01 del dop Taishan 24 April ...            Clarksons         Lucky Jason                 Indonesia       Taishan   Korea, Republic of        Five Ocean     20000.0       TCE           None
27 2022-04-26 07:03:02+00:00  MV Selina 75/10 del dop Taichung 1/2 May TCT w...            Clarksons              Selina                 Australia      Taichung               Taiwan               CSE     22750.0       TCE           None
25 2022-04-26 07:03:02+00:00  MV Star Sapphire 82/19 del dop Surabaya 26 Apr...            Clarksons       Star Sapphire                 Australia      Surabaya                India              None     30000.0       TCE           None
19 2022-04-26 06:57:57+00:00  The AP Dubrava (38,703 2015) open Houston 24th...            Clarksons          AP Dubrava                      None       Houston              Antwerp         Canfornav     38000.0       TCE     FullyFixed
17 2022-04-26 06:57:57+00:00  The GH Glory (74,973 2010) Lumut 1/3 May was s...            Clarksons            GH Glory  East Coast South America         Lumut             Far East        Oldendorff     26000.0       TCE     FullyFixed
21 2022-04-26 06:57:57+00:00  'Great Victory' 2015 77853 dwt dely Lianyungan...            Clarksons       Great Victory                 Australia   Lianyungang                India  Pacific Carriers     24000.0       TCE           None

#### Export to csv

In [11]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_TC.csv'
dry_results_TC.to_csv(output_path+filename,index=False)