# Latest Received Scraped Fixtures

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedFixturesAPI/LatestReceivedScrapedFixtures.ipynb)

- Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '' # replace with your subscription key

## Setup

### Import libraries

In [2]:
%%capture
%pip install signal-ocean

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
pd.set_option('display.width', 1000)
from datetime import datetime, timedelta,timezone
import plotly.graph_objects as go
import plotly.express as px


from signal_ocean import Connection
from signal_ocean.scraped_fixtures import ScrapedFixturesAPI

##  Results

In [3]:
fields_to_show_tankers=['received_date','updated_date','content','sender','vessel_name','load_name','discharge_name','charterer','rate_value','rate_type','fixture_status']

### Latest scraped fixtures for tankers

In [4]:
vessel_type_id = 1 # tanker
date_from = datetime.now(timezone.utc) - timedelta(hours=1, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

tanker_results = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
print('Show {} fixtures'.format(len(tanker_results)))
if not tanker_results.empty:
    tanker_results = tanker_results.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    tanker_results[fields_to_show_tankers].head(60)

Show 289 fixtures

                received_date              updated_date                                            content                          sender         vessel_name load_name discharge_name              charterer  rate_value rate_type fixture_status
288 2022-04-21 11:59:14+00:00 2022-04-21 11:59:14+00:00                                               None  n.vergounis@thesignalgroup.com      Eagle Hamilton    Skikda        US Gulf            Phillips 66       125.0        WS         OnSubs
287 2022-04-21 11:57:18+00:00 2022-04-21 11:57:18+00:00                                               None  n.vergounis@thesignalgroup.com              P. Fos    Ceyhan        Geelong                  Socar   4500000.0        LS     FullyFixed
283 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY        Aegean Dream      None           None                   None         NaN      None         Failed
280 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY        Aegean Unity      None           None                   None         NaN      None         OnSubs
285 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY         Delta Ocean      None           None                   None         NaN      None         OnSubs
284 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY      Delta Poseidon      None           None                   None         NaN      None         Failed
279 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY         Emerald Way      None           None                   None         NaN      None         Failed
286 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY         Eurodignity      None           None                   None         NaN      None         OnSubs
276 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY           Jag Lalit      None           None                   None         NaN      None         OnSubs
275 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY            Karekare      None           None                   None         NaN      None         OnSubs
278 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY          Nautilus I      None           None                   None         NaN      None         OnSubs
277 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY        Neptune Moon      None           None                   None         NaN      None         OnSubs
282 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY           Silverway      None           None                   None         NaN      None         OnSubs
281 2022-04-21 00:00:00+00:00 2022-04-21 11:52:40+00:00                                               None                             SSY        Yasa Polaris      None           None                   None         NaN      None         Failed
274 2022-04-21 11:15:12+00:00 2022-04-21 11:50:38+00:00  clearocean moritz 35 cpp dalian / spore 1-2 ma...                         Gibsons   Clearocean Moritz    Dalian      Singapore  Emirates National Oil   2500000.0        LS         OnSubs
265 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY        Aegean Dream      None           None                   None         NaN      None         Failed
266 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY        Aegean Unity      None           None                   None         NaN      None         OnSubs
263 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY       Astro Polaris      None           None                   None         NaN      None         OnSubs
258 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY               Chafa      None           None                   None         NaN      None         OnSubs
267 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY          Da Yuan Hu      None           None                   None         NaN      None         Failed
264 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY         Delta Ocean      None           None                   None         NaN      None         OnSubs
273 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY      Delta Poseidon      None           None                   None         NaN      None         Failed
255 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY         Emerald Way      None           None                   None         NaN      None         Failed
269 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY         Eurodignity      None           None                   None         NaN      None         OnSubs
268 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY           Jag Lalit      None           None                   None         NaN      None         OnSubs
261 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY            Karekare      None           None                   None         NaN      None         OnSubs
259 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY          Nautilus I      None           None                   None         NaN      None         OnSubs
271 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY        Neptune Moon      None           None                   None         NaN      None         OnSubs
270 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY       Nordic Apollo      None           None                   None         NaN      None         OnSubs
272 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY         Nordic Moon      None           None                   None         NaN      None         OnSubs
256 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY       Nordic Pollux      None           None                   None         NaN      None         OnSubs
257 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY     Nordic Sprinter      None           None                   None         NaN      None         Failed
262 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY           Silverway      None           None                   None         NaN      None         OnSubs
260 2022-04-21 00:00:00+00:00 2022-04-21 11:47:10+00:00                                               None                             SSY        Yasa Polaris      None           None                   None         NaN      None         Failed
241 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons  Ardmore Enterprise      None           None                   None         NaN      None         OnSubs
243 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons    Ardmore Exporter      None           None                   None         NaN      None         OnSubs
252 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons     Ardmore Seawolf      None           None                   None         NaN      None         OnSubs
253 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons      Bow Trajectory      None           None                   None         NaN      None         OnSubs
254 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons            Dee4 Fig      None           None                   None         NaN      None         OnSubs
248 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons        Elka Elefsis      None           None                   None         NaN      None         OnSubs
239 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons         Great Lamda      None           None                   None         NaN      None         OnSubs
244 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons      Horizon Thetis      None           None                   None         NaN      None         OnSubs
246 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons              Kanala      None           None                   None         NaN      None         OnSubs
245 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons          Kriti Ruby      None           None                   None         NaN      None         OnSubs
250 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons    Navig8 Gallantry      None           None                   None         NaN      None         OnSubs
247 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons      Navig8 Success      None           None                   None         NaN      None         OnSubs
249 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons    Pacific Kohinoor      None           None                   None         NaN      None         OnSubs
242 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons             Proodos      None           None                   None         NaN      None         OnSubs
251 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons         STI Jardins      None           None                   None         NaN      None         OnSubs
240 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons         STI Pontiac      None           None                   None         NaN      None         OnSubs
238 2022-04-21 11:43:36+00:00 2022-04-21 11:45:30+00:00                                               None                         Gibsons     Seaways Niagara      None           None                   None         NaN      None         OnSubs
236 2022-04-21 11:42:00+00:00 2022-04-21 11:42:46+00:00                                               None                       Clarksons      Chemtrans Riga      None           None                   None         NaN      None         OnSubs
235 2022-04-21 11:42:00+00:00 2022-04-21 11:42:46+00:00                                               None                       Clarksons               Evian      None           None                   None         NaN      None         OnSubs
234 2022-04-21 11:42:00+00:00 2022-04-21 11:42:46+00:00                                               None                       Clarksons       Maersk Callao      None           None                   None         NaN      None         OnSubs
237 2022-04-21 11:42:00+00:00 2022-04-21 11:42:46+00:00                                               None                       Clarksons      St. Katharinen      None           None                   None         NaN      None         OnSubs
226 2022-04-21 00:00:00+00:00 2022-04-21 11:39:48+00:00                                               None                             SSY        Aegean Dream      None           None                   None         NaN      None         Failed
227 2022-04-21 00:00:00+00:00 2022-04-21 11:39:48+00:00                                               None                             SSY        Aegean Unity      None           None                   None         NaN      None         OnSubs
216 2022-04-21 00:00:00+00:00 2022-04-21 11:39:48+00:00                                               None                             SSY       Astro Polaris      None           None                   None         NaN      None         OnSubs
223 2022-04-21 00:00:00+00:00 2022-04-21 11:39:48+00:00                                               None                             SSY               Chafa      None           None                   None         NaN      None         OnSubs
225 2022-04-21 00:00:00+00:00 2022-04-21 11:39:48+00:00                                               None                             SSY          Da Yuan Hu      None           None                   None         NaN      None         Failed

#### Export to csv

In [5]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_tankers.csv'
tanker_results.to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Voyage Charter)

In [6]:
fields_to_show_dry_VC=['received_date','updated_date','content','sender','vessel_name','load_name','discharge_name','charterer','rate_value','rate_type','fixture_status']

In [7]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_VC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
dry_results_VC = dry_results_VC[dry_results_VC.charter_type_id==0]
print('Show {} fixtures'.format(len(dry_results_VC)))
if not dry_results_VC.empty:
    dry_results_VC = dry_results_VC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_VC[fields_to_show_dry_VC].head(60)

Show 1 fixtures

              received_date              updated_date                                            content               sender vessel_name          load_name discharge_name     charterer  rate_value rate_type fixture_status
7 2022-04-21 10:19:04+00:00 2022-04-21 10:20:20+00:00  PRESINGE 81886/15 13.5(B)/12.7(L) N 24 ROTTERD...  Carriers Chartering    Presinge  US Atlantic Coast           None  Jera Trading         NaN      None     FullyFixed

#### Export to csv

In [8]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_VC.csv'
dry_results_VC.to_csv(output_path+filename,index=False)

### Latest scraped fixtures for dry (Time Charter)

In [9]:
fields_to_show_dry_TC=['received_date','updated_date','content','sender','vessel_name','load_name','delivery_name','redelivery_from_name','charterer','rate_value','rate_type','fixture_status']

In [10]:
vessel_type_id = 3 # dry
date_from = datetime.now(timezone.utc) - timedelta(hours=4, minutes=0)
date_to = datetime.now(timezone.utc)

connection = Connection(signal_ocean_api_key)
api = ScrapedFixturesAPI(connection)
scraped_fixtures = api.get_fixtures(
    updated_date_from = date_from,
    updated_date_to = date_to,
    vessel_type = vessel_type_id
)

dry_results_TC = pd.DataFrame([v.__dict__ for v in scraped_fixtures])
dry_results_TC = dry_results_TC[dry_results_TC.charter_type_id==1]
print('Show {} fixtures'.format(len(dry_results_TC)))
if not dry_results_TC.empty:
    dry_results_TC = dry_results_TC.sort_values(['updated_date','vessel_name'],ascending=[False,True])
    dry_results_TC[fields_to_show_dry_TC].head(60)

Show 7 fixtures

              received_date              updated_date                                            content               sender        vessel_name                 load_name delivery_name redelivery_from_name   charterer  rate_value rate_type fixture_status
6 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  DL ACACIA 81569/13 12.5(B)/ 11.5(L) N 26 SAILE...  Carriers Chartering          DL Acacia                 Indonesia       Qinzhou          Philippines   Cobelfret         NaN      None         OnSubs
2 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  GLORY LOONG 75395/05-UNIVERSAL 12(L)/13(B) N 2...  Carriers Chartering        Glory Loong                    Kamsar     Gibraltar          San Ciprian   Cobelfret     26000.0       TCE           None
5 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  HUA YANG CHUAN QI 76945/03 12.5(B)/11.5(L) N 2...  Carriers Chartering  Hua Yang Chuan Qi                 Indonesia        Ningde          South China        None     17500.0       TCE           None
4 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  NAVIOS ASTERIKS 76800/05-SASEBO 13(B)/12(L) N ...  Carriers Chartering    Navios Asteriks  West Coast North America       Tianjin            Singapore    Ming Wah     22500.0       TCE           None
1 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  PEACE PEARL 76433/13 12(B) N 21.2/11(L) N 21.5...  Carriers Chartering        Peace Pearl                      None   Qinhuangdao                 None      Norden     26000.0       TCE           None
0 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  SOCRATES GRAECIA 82057/20 12.5(B)/11.5(L) N 21...  Carriers Chartering   Socrates Graecia                 Australia      Shanghai            Continent  Oldendorff     30000.0       TCE         OnSubs
3 2022-04-21 09:00:05+00:00 2022-04-21 09:01:03+00:00  TAI KEYSTONE 84703/17-MITSUI 12.7(B)/11.7(L) N...  Carriers Chartering       Tai Keystone                 Australia        Weihai            Singapore        None     27000.0       TCE           None

#### Export to csv

In [11]:
output_path = '' # Change output_path with your path
filename = 'scraped_fix_dry_TC.csv'
dry_results_TC.to_csv(output_path+filename,index=False)