# Vessels API Example

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/VesselsAPI/VesselsAPI.ipynb)

<h3>Setup</h3>

Install the Signal Ocean SDK:

In [ ]:
pip install signal-ocean

Import required libraries / APIs / packages:

<h3>Import Vessels API and some additional libraries</h3>

In [ ]:
from signal_ocean.vessels import VesselsAPI
import pandas as pd
import seaborn as sns
from datetime import datetime
from signal_ocean import Connection

Fill in your personal SignalOcean API subscription key acquired <a href="https://apis.signalocean.com/profile" target="_blank">here</a> and open a connection:

In [1]:
signal_ocean_api_key = '' #replace with your subscription key

Create a connection

In [2]:
connection = Connection(signal_ocean_api_key)

## Call the vessels API
The Vessels API retrieves vessel information.

In [2]:
api = VesselsAPI(connection)

#### Get vessel classes

Retrieve information on the various vessel classes

In [4]:
vessel_classes = api.get_vessel_classes()

Extract the returned information into a dataframe

In [5]:
pd.DataFrame([vc.__dict__ for vc in vessel_classes]).head()

,id,vessel_type_id,from_size,to_size,name,vessel_type,defining_size,size
0,-2,-2,0,0,Not set,Not Set,NotSet,NotSet
1,-1,-1,0,0,Unknown,Unknown,Unknown,Unknown
2,60,6,70001,250000,VLGC,LPG,CubicSize,cbm
3,61,6,28001,70000,Midsize/LGC,LPG,CubicSize,cbm
4,62,6,10001,28000,Handy,LPG,CubicSize,cbm

#### Get vessel types

Retrieve information on the various vessel types

In [6]:
vessel_types = api.get_vessel_types()

Extract the returned information into a dataframe

In [7]:
pd.DataFrame([vc.__dict__ for vc in vessel_types]).head(7)

   id       name
0  -2    Not Set
1  -1    Unknown
2   6        LPG
3   3        Dry
4   4  Container
5   1     Tanker
6   5        LNG

#### Get details for a specific vessel

In [8]:
imo = 9436006
v = api.get_vessel(imo)
print(f'{v.imo}: {v.vessel_name} ({v.vessel_class} / {v.commercial_operator})')

9436006: Paramount (Aframax / Stealth Maritime Corp)

#### Get details for all vessels

In [9]:
vessels = api.get_vessels()

Extract the returned information into a dataframe

In [10]:
df = pd.DataFrame([x.__dict__ for x in vessels])

In [11]:
df[['imo', 'vessel_name', 'vessel_class']].sample(5)

           imo    vessel_name vessel_class
24488  9388285     Hua Hang 1        Small
20755  9308120     Super Ruby          MR2
19071  9276767        Ken Mei    Handysize
20489  9303649  Chemroad Haya          MR1
14676  9158159       Alanya-m     Handymax

#### Find fleet size per vessel class - exclude scrapped vessels

In [12]:
df[pd.isnull(df['scrapped_date'])]['vessel_class'].value_counts().to_frame('vessel_count').head(10)

              vessel_count
Small                11237
Panamax               3868
Supramax              3291
Handysize             2993
MR2                   1789
Post Panamax          1585
Capesize              1541
Feeder                1398
Aframax               1165
VLCC                   996

#### Find the commercial operators that currently operate the largest Aframax fleets

In [13]:
data = df[(df['vessel_class']=='Aframax')&(pd.isnull(df['scrapped_date']))]
data['commercial_operator'].value_counts().head(10)

Scorpio Commercial Management    51
Sovcomflot                       43
Trafigura                        42
Teekay Corp                      42
Unknown                          39
Cardiff Marine                   31
Navig8 group                     31
Thenamaris                       28
Minerva Marine                   27
Shell                            24
Name: commercial_operator, dtype: int64

#### Get all vessels the name of which contains the term signal

In [14]:
vessels = api.get_vessels('signal')
len(vessels)

2

Extract the returned information into a dataframe

In [15]:
df = pd.DataFrame([x.__dict__ for x in vessels])
df.head()

,imo,vessel_type_id,built_for_trade_id,trade_id,vessel_class_id,commercial_operator_id,deadweight,breadth_extreme,gross_rated_tonnage,reduced_gross_tonnage,...,imo_type_1,imo_type_2,imo_type_3,stst_coating,epoxy_coating,zinc_coating,marineline_coating,crude_oil_washing,beneficial_owner_id,beneficial_owner
0,9412036,1,1,1,86,1926,116337,44,62884,50408,...,None,None,None,None,None,None,None,True,-1,Unknown
1,9773923,1,1,1,86,1926,113221,44,62350,49609,...,None,None,None,None,None,None,None,True,-1,Unknown