# Scraped Cargoes API Example

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedCargoesAPI/Scraped%20Cargoes%20API%20Example.ipynb)

Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '' # Replace with your subscription key

# Scraped Cargoes API

The goal of Scraped Cargoes API is to collect and return scraped cargoes by the given filters or cargo IDs. This can be done by using the `ScrapedCargoesAPI` class and calling appropriate methods

#### 1. Request by filters

Cargoes can be retrieved for specific filters, by calling the `get_cargoes` method with the following arguments:

#### Required

`vessel_type` The vessel type

_Additionally, at least one of the following is required_

`received_date_from` Earliest date the cargo received

`received_date_to` Latest date the cargo received

`updated_date_from` Earliest date the cargo updated

`updated_date_to` Latest date the cargo updated

> Mixing received and updated dates is not allowed

> It's highly recommended to use UTC  dates, since this is the internally used format


#### 2. Request by cargo IDs

Cargoes can be retrieved for specific cargo IDs, by calling the `get_cargoes_by_cargo_ids` method with the following argument:

#### Required

`cargo_ids` A list of cargo ids to retrieve

### Additional optional arguments

Both methods, also accept the following optional arguments:

`include_details` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
parsed_part_id, line_from, line_to, in_line_order, source
```

`include_scraped_fields` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
scraped_laycan, scraped_load, scraped_load2, scraped_discharge, scraped_discharge_options, scraped_discharge2, scraped_charterer, scraped_cargo_type, scraped_quantity, scraped_delivery_date, scraped_delivery_from, scraped_delivery_to, 
scraped_redelivery_from, scraped_redelivery_to
```

`include_labels` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
load_name, load_taxonomy, load_name2, load_taxonomy2, discharge_name, discharge_taxonomy, discharge_name2, discharge_taxonomy2, charterer, cargo_type, cargo_type_group, delivery_from_name, delivery_from_taxonomy, delivery_to_name, delivery_to_taxonomy, redelivery_from_name, redelivery_from_taxonomy, redelivery_to_name, redelivery_to_taxonomy, charter_type, cargo_status
```

`include_content` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
content
```

`include_sender` If this field is `True` the following columns will be included in the response (otherwise they will be `None`): 
```
sender
```

`include_debug_info` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
is_private
```

> Default value is `True` for the arguments described above

## Installation

To install _Signal Ocean SDK_, simply run the following command

In [2]:
%%capture
%pip install signal-ocean

## Quickstart

Import `signal-ocean` and other modules required for this demo

In [3]:
from signal_ocean import Connection
from signal_ocean.scraped_cargoes import ScrapedCargoesAPI

from datetime import datetime, timedelta
import pandas as pd
import plotly.graph_objects as go

Create a new instance of the `ScrapedCargoesAPI` class

In [4]:
connection = Connection(signal_ocean_api_key)
api = ScrapedCargoesAPI(connection)

Now you are ready to retrieve your data

#### Request by date

To get all tanker cargoes received the last twelve hours, you must declare appropriate `vessel_type` and `received_date_from` variables

In [5]:
vessel_type = 1  # Tanker
received_date_from = datetime.utcnow() - timedelta(hours=12)

And then call `get_cargoes` method, as below

In [6]:
scraped_cargoes = api.get_cargoes(
    vessel_type = vessel_type,
    received_date_from = received_date_from,
)

next(iter(scraped_cargoes), None)

ScrapedCargo(cargo_id=20920664, message_id=26188798, parsed_part_id=41634603, line_from=52, line_to=52, in_line_order=None, source='Email', updated_date=datetime.datetime(2022, 8, 1, 4, 12, 36, tzinfo=datetime.timezone.utc), received_date=datetime.datetime(2022, 8, 1, 4, 10, 18, tzinfo=datetime.timezone.utc), is_deleted=False, scraped_laycan='21-31 aug', laycan_from=datetime.datetime(2022, 8, 21, 0, 0, tzinfo=datetime.timezone.utc), laycan_to=datetime.datetime(2022, 8, 31, 0, 0, tzinfo=datetime.timezone.utc), scraped_load='vadinar', load_geo_id=3532, load_name='Vadinar', load_taxonomy_id=2, load_taxonomy='Port', scraped_load2=None, load_geo_id2=None, load_name2=None, load_taxonomy_id2=None, load_taxonomy2=None, scraped_discharge='opts', scraped_discharge_options=None, discharge_geo_id=None, discharge_name=None, discharge_taxonomy_id=None, discharge_taxonomy=None, scraped_discharge2=None, discharge_geo_id2=None, discharge_name2=None, discharge_taxonomy_id2=None, discharge_taxonomy2=None, scraped_charterer='tender', charterer_id=None, charterer=None, scraped_cargo_type=None, cargo_type_id=None, cargo_type=None, cargo_type_group_id=None, cargo_type_group=None, scraped_quantity=None, quantity=None, quantity_buffer=None, quantity_from=None, quantity_to=None, size_from=None, size_to=None, scraped_delivery_date=None, delivery_date_from=None, delivery_date_to=None, scraped_delivery_from=None, delivery_from_geo_id=None, delivery_from_name=None, delivery_from_taxonomy_id=None, delivery_from_taxonomy=None, scraped_delivery_to=None, delivery_to_geo_id=None, delivery_to_name=None, delivery_to_taxonomy_id=None, delivery_to_taxonomy=None, scraped_redelivery_from=None, redelivery_from_geo_id=None, redelivery_from_name=None, redelivery_from_taxonomy_id=None, redelivery_from_taxonomy=None, scraped_redelivery_to=None, redelivery_to_geo_id=None, redelivery_to_name=None, redelivery_to_taxonomy_id=None, redelivery_to_taxonomy=None, charter_type_id=0, charter_type='Voyage', cargo_status_id=None, cargo_status=None, content='tender 40vlsfo vadinar opts 21-31 aug clsd', sender='Raffles Shipbrokers', is_private=True)

For better visualization, it's convenient to insert data into a DataFrame

In [7]:
df = pd.DataFrame(scraped_cargoes)

df.head()

,cargo_id,message_id,parsed_part_id,line_from,line_to,in_line_order,source,updated_date,received_date,is_deleted,...,redelivery_to_name,redelivery_to_taxonomy_id,redelivery_to_taxonomy,charter_type_id,charter_type,cargo_status_id,cargo_status,content,sender,is_private
0,20920664,26188798,41634603,52,52,NaN,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,NaN,None,tender 40vlsfo vadinar opts 21-31 aug clsd,Raffles Shipbrokers,True
1,20920665,26188798,41634603,72,72,NaN,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,NaN,None,tender 10pfo mailiao opts 12-14 aug won by chi...,Raffles Shipbrokers,True
2,20920666,26188798,41634603,74,74,NaN,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,NaN,None,tender 24slurry onsan opts 16-20 aug clsd,Raffles Shipbrokers,True
3,20920667,26188798,41634603,67,67,NaN,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,NaN,None,ptt 270kb banang thai 7-9 aug,Raffles Shipbrokers,True
4,20920668,26188798,41634603,64,64,NaN,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,NaN,None,tender 200kb vr balikpapan opts 2-3 aug clsd,Raffles Shipbrokers,True

#### Request by cargo IDs

To get data for specific cargo ID(s), you must call the `get_cargoes_by_cargo_ids` method for a list of desired cargo ID(s)

In [8]:
cargo_ids = df.sample(5, replace=True).cargo_id.tolist()  # Or add a list of your desired cargo IDs

cargo_ids

[20932462, 20920667, 20924513, 20937782, 20920683]

Date arguments are not available in `get_cargoes_by_cargo_ids` method

In [9]:
scraped_cargoes_by_ids = api.get_cargoes_by_cargo_ids(
    cargo_ids=cargo_ids,
)

df_by_ids = pd.DataFrame(scraped_cargoes_by_ids)
df_by_ids.head()

,cargo_id,message_id,parsed_part_id,line_from,line_to,in_line_order,source,updated_date,received_date,is_deleted,...,redelivery_to_name,redelivery_to_taxonomy_id,redelivery_to_taxonomy,charter_type_id,charter_type,cargo_status_id,cargo_status,content,sender,is_private
0,20920667,26188798,41634603,67,67,None,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,None,None,ptt 270kb banang thai 7-9 aug,Raffles Shipbrokers,True
1,20920683,26188798,41634603,43,43,None,Email,2022-08-01 04:12:36+00:00,2022-08-01 04:10:18+00:00,False,...,None,None,None,0,Voyage,None,None,bpcl 130nhc basrah sts vadinar-mangalore 19 aug,Raffles Shipbrokers,True
2,20924513,26194155,41638478,88,88,None,Email,2022-08-01 06:02:40+00:00,2022-08-01 06:02:33+00:00,False,...,None,None,None,0,Voyage,None,None,clearlake nhc 130 usg/wcindia 07-09/aug - ?,Saigal Sea Trade,True
3,20932462,26209817,41650756,86,86,None,Email,2022-08-01 08:46:15+00:00,2022-08-01 08:44:49+00:00,False,...,None,None,None,0,Voyage,None,None,nayara 130 covenas/vadinar 11-15/08,Essex Shipping Services,True
4,20937782,26219371,41658499,35,35,None,Email,2022-08-01 11:23:24+00:00,2022-08-01 11:21:53+00:00,False,...,None,None,None,0,Voyage,None,None,css sa 80 wcn / ukc 09-10/08,Ocean Shipbrokers,True

#### Usage of optional arguments

By default, all fields are returned. This is convenient in many cases, for example to compare scraped and mapped fields

In [10]:
fields_to_display = [
    'scraped_charterer',
    'charterer',
    'scraped_quantity',
    'quantity',
    'scraped_load',
    'load_name',
]

df[fields_to_display].head()

,scraped_charterer,charterer,scraped_quantity,quantity,scraped_load,load_name
0,tender,None,None,NaN,vadinar,Vadinar
1,tender,None,10pfo,NaN,mailiao,Mailiao
2,tender,None,None,NaN,onsan,Ulsan
3,ptt,PTT Public Company Limited,270kb,36828.0,banang,Kertih Refinery
4,tender,None,200kb,27280.0,balikpapan,Balikpapan

## Examples

Let's start by fetching all tanker cargoes received the last week

In [11]:
example_vessel_type = 1  # tanker
example_date_from = datetime.utcnow() - timedelta(days=7)

example_scraped_cargoes = api.get_cargoes(
   vessel_type=example_vessel_type,
   received_date_from=example_date_from,
)

#### Exclude deleted scraped cargoes

The `is_deleted` property of a scraped cargo indicates whether it is valid or not. If it is set to `True`, the corresponding `cargo_id` has been replaced by a new one.

For the sake of completeness, we will exclude deleted scraped cargoes in the following examples.

In [12]:
data = pd.DataFrame(example_scraped_cargoes)

data = data[data.is_deleted != True]

data.head()

,cargo_id,message_id,parsed_part_id,line_from,line_to,in_line_order,source,updated_date,received_date,is_deleted,...,redelivery_to_name,redelivery_to_taxonomy_id,redelivery_to_taxonomy,charter_type_id,charter_type,cargo_status_id,cargo_status,content,sender,is_private
0,20794545,25994072,41400088,83,83,NaN,Email,2022-07-25 15:50:02+00:00,2022-07-25 15:48:05+00:00,False,...,None,None,None,0,Voyage,NaN,None,vitol 80 sikka/opts 08/17-18 - rptd,Dietze,True
1,20794546,25994072,41400088,81,81,NaN,Email,2022-07-25 15:50:02+00:00,2022-07-25 15:48:05+00:00,False,...,None,None,None,0,Voyage,NaN,None,ptt 80 dampier/thai 08/13-15 - rptd,Dietze,True
2,20794547,25994072,41400088,77,77,NaN,Email,2022-07-25 15:50:02+00:00,2022-07-25 15:48:05+00:00,False,...,None,None,None,0,Voyage,NaN,None,gsc 80 t. pelepas/yosu 08/05-07 - rptd,Dietze,True
3,20794548,25994072,41400088,35,35,NaN,Email,2022-07-25 15:50:01+00:00,2022-07-25 15:48:05+00:00,False,...,None,None,None,0,Voyage,NaN,None,omv 80 algeria/med 07/26 - rptd,Dietze,True
4,20794549,25994072,41400088,34,34,NaN,Email,2022-07-25 15:50:01+00:00,2022-07-25 15:48:05+00:00,False,...,None,None,None,0,Voyage,0.0,OnSubs,bp 80 skikda/east 07/25-27 - on subs no details,Dietze,True

#### Top 10 Charterers

In this example, we will find the top 10 Charterers, based on the number of distinct available cargoes

In [13]:
top_chrtr_ser = data[['charterer', 'laycan_from']].drop_duplicates().charterer.value_counts().head(10)

top_chrtr_df = top_chrtr_ser.to_frame(name='CargoCount').reset_index().rename(columns={'index': 'Charterer'})

top_chrtr_df

                Charterer  CargoCount
0                   Vitol          20
1                      BP          16
2                   Shell          14
3                    CSSA          14
4              ExxonMobil          14
5                  Unipec          14
6                  Repsol          13
7  Aramco Trading Company          13
8               Trafigura          12
9                     ENI          12

And display results in a bar plot

In [14]:
top_chrtr_fig = go.Figure()

bar = go.Bar(
    x=top_chrtr_df.Charterer.tolist(),
    y=top_chrtr_df.CargoCount.tolist(),
)

top_chrtr_fig.add_trace(bar)
top_chrtr_fig.update_xaxes(title_text="Charterer")
top_chrtr_fig.update_yaxes(title_text="Number of available Cargoes")
top_chrtr_fig.show()

#### Total quantity to load in specific areas per day the next week

In [15]:
areas = [
    'Arabian Gulf',
    'Africa Atlantic Coast',
    'Continent',
    'Baltic',
    'Brazil',
]

this_week_days = pd.date_range(start=datetime.utcnow().date(), freq='D', periods=7, tz='UTC')

Create the pivot table

In [16]:
areas_mask = data.load_name.isin(areas) & data.laycan_from.isin(this_week_days)

df_areas = data[areas_mask]

df_pivot = pd.pivot_table(
    df_areas,
    columns='load_name',
    index='laycan_from',
    values='quantity',
    aggfunc=pd.Series.sum,
    fill_value=0,
).reindex(index=this_week_days, fill_value=0).reset_index().rename(columns={'index': 'laycan_from'})

df_pivot

load_name,laycan_from,Africa Atlantic Coast,Arabian Gulf,Continent
0,2022-08-01 00:00:00+00:00,30000,1320000,171000
1,2022-08-02 00:00:00+00:00,0,90000,30000
2,2022-08-03 00:00:00+00:00,0,0,180000
3,2022-08-04 00:00:00+00:00,0,270000,0
4,2022-08-05 00:00:00+00:00,0,270000,587000
5,2022-08-06 00:00:00+00:00,0,70000,333000
6,2022-08-07 00:00:00+00:00,0,0,0

And display the results as timeseries

In [17]:
def area_button(area):
    args = [
        {'visible': [i == areas.index(area) for i in range(len(areas))]},
        {
            'title': f'Total Quantity to load in {area} per day',
            'showlegend': True
        },
    ]
    
    return dict(
        label=area,
        method='update',
        args=args,
    )

title = 'Total Quantity to load in all areas per day'

areas_fig = go.Figure()

area_buttons = []

for area in areas:
    if area not in df_pivot.columns:
        continue
    area_scatter_plot = go.Scatter(    
        x = df_pivot.laycan_from,
        y = df_pivot[area],
        name=area,
        mode='lines',
    )

    areas_fig.add_trace(area_scatter_plot)
    
    area_buttons.append(area_button(area))
    
buttons = list([
    dict(
        label='All',
        method='update',
        args=[    
            {'visible': [True for _ in range(len(areas))]},
            {
                'title': title,
                'showlegend': True
            }
        ],
    ),
    *area_buttons,
])

areas_fig.update_layout(
    title=title,
    updatemenus=[go.layout.Updatemenu(
        active=0,
        buttons=buttons,
    )]
)

areas_fig.show()

#### Export data to csv

In [18]:
output_path = '' # Change output_path with your path
filename = 'last_week_cargoes.csv'
if not data.empty:
    data.to_csv(output_path+filename, index=False)