# Scraped Lineups API Example

## Run this example in [Colab](https://colab.research.google.com/github/SignalOceanSdk/SignalSDK/blob/master/docs/examples/jupyter/ScrapedLineupsAPI/Scraped%20Lineups%20API%20Example.ipynb)

Get your personal Signal Ocean API subscription key (acquired [here](https://apis.signalocean.com/profile)) and replace it below:

In [1]:
signal_ocean_api_key = '' # Replace with your subscription key

# Scraped Lineups API

The goal of Scraped Lineups API is to collect and return scraped lineups by the given filters or lineup IDs. This can be done by using the `ScrapedLineupsAPI` class and calling appropriate methods


#### 1. Request by filters

Lineups can be retrieved for specific filters, by calling the `get_lineups` method with the following arguments:

#### Required

`vessel_type` The vessel type

_Additionally, at least one of the following is required_

`imos` List of IMOs

`received_date_from` Earliest date the lineup received

`received_date_to` Latest date the lineup received

`updated_date_from` Earliest date the lineup updated

`updated_date_to` Latest date the lineup updated

> Mixing received and updated dates is not allowed

> It's highly recommended to use UTC  dates, since this is the internally used format


#### 2. Request by lineup IDs

Lineups can be retrieved for specific lineup IDs, by calling the `get_lineups_by_lineup_ids` method with the following argument:

#### Required

`lineup_ids` A list of lineup ids to retrieve

### Additional optional arguments

Both methods, also accept the following optional arguments:

`include_details` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
parsed_part_id, line_from, line_to, in_line_order, source
```

`include_scraped_fields` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
scraped_vessel_name, scraped_imo, scraped_deadweight, scraped_year_built, scraped_eta, scraped_etb, scraped_etd, scraped_location, scraped_quantity, scraped_cargo_type, scraped_api_gravity, scraped_origin, scraped_destination, scraped_supplier, scraped_charterer, scraped_buyer, scraped_port_agent
```

`include_vessel_details` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
vessel_name, deadweight, year_built, liquid_capacity, vessel_type_id, vessel_type, vessel_class, commercial_operator_id, commercial_operator
```

`include_labels` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
location_name, location_taxonomy, operation_type, cargo_type, cargo_group, origin_name, origin_taxonomy, destination_name, destination_taxonomy, supplier, charterer, buyer, port_agent, vessel_status
```

`include_content` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
content, subject
```

`include_sender` If this field is `True` the following columns will be included in the response (otherwise they will be `None`): 
```
sender
```

`include_debug_info` If this field is `True` the following columns will be included in the response (otherwise they will be `None`):
```
is_private
```

> Default value is `True` for the arguments described above

## Installation

To install _Signal Ocean SDK_, simply run the following command

In [2]:
%%capture
%pip install signal-ocean

## Quickstart

Import `signal-ocean` and other modules required for this demo

In [3]:
from signal_ocean import Connection
from signal_ocean.scraped_lineups import ScrapedLineupsAPI

from datetime import datetime, timedelta
import pandas as pd
import plotly.graph_objects as go

Create a new instance of the `ScrapedLineupsAPI` class

In [4]:
connection = Connection(signal_ocean_api_key)
api = ScrapedLineupsAPI(connection)

Now you are ready to retrieve your data

#### Request by date

To get all tanker lineups received the last twelve hours, you must declare appropriate `vessel_type` and `received_date_from` variables

In [5]:
vessel_type = 1  # Tanker
received_date_from = datetime.utcnow() - timedelta(hours=12)

And then call `get_lineups` method, as below

In [6]:
scraped_lineups = api.get_lineups(
    vessel_type = vessel_type,
    received_date_from = received_date_from,
)

next(iter(scraped_lineups), None)

ScrapedLineup(lineup_id=8326412, message_id=30832782, parsed_part_id=45822340, line_from=99, line_to=99, in_line_order=None, source='Email', updated_date=datetime.datetime(2022, 11, 18, 9, 13, 38, tzinfo=datetime.timezone.utc), received_date=datetime.datetime(2022, 11, 18, 6, 41, 4, tzinfo=datetime.timezone.utc), is_deleted=False, scraped_vessel_name='OHIO', scraped_imo=None, scraped_deadweight=None, scraped_year_built=None, imo=-1, vessel_name=None, deadweight=None, year_built=None, liquid_capacity=None, vessel_type_id=-1, vessel_type='Unknown', vessel_class_id=-1, vessel_class='Unknown', commercial_operator_id=None, commercial_operator=None, scraped_eta='2022-11-25 00:00:00', eta=datetime.datetime(2022, 11, 25, 0, 0, tzinfo=datetime.timezone.utc), scraped_etb=None, etb=None, scraped_etd=None, etd=None, scraped_location='Ceyhan', location_geo_id=3812, location_name='Ceyhan', location_taxonomy_id=2, location_taxonomy='Port', operation_type_id=1, operation_type='Load', scraped_quantity='600,000 BBLS', quantity=600000.0, quantity_unit='Barrels', scraped_cargo_type='Azeri BTC', cargo_type_id=659, cargo_type='Azeri BTC', cargo_group_id=130000, cargo_group='Dirty', scraped_api_gravity=None, api_gravity=None, scraped_origin=None, origin_geo_id=None, origin_name=None, origin_taxonomy_id=None, origin_taxonomy=None, scraped_destination=None, destination_geo_id=-1, destination_name=None, destination_taxonomy_id=-1, destination_taxonomy='Unknown', scraped_supplier=None, supplier_id=None, supplier=None, scraped_charterer=None, charterer_id=None, charterer=None, scraped_buyer='LITASCO', buyer_id=1919, buyer='Litasco', scraped_port_agent=None, port_agent_id=None, port_agent=None, vessel_status_id=1, vessel_status='Expected', content='OHIO                   600,000 LITASCO                  25/11-08:00', subject='Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan Marine Terminal on Nov. 18, 2022', sender='Boutros Maritime & Transports', is_private=True)

For better visualization, it's convenient to insert data into a DataFrame

In [7]:
df = pd.DataFrame(scraped_lineups)

df.head()

,lineup_id,message_id,parsed_part_id,line_from,line_to,in_line_order,source,updated_date,received_date,is_deleted,...,buyer,scraped_port_agent,port_agent_id,port_agent,vessel_status_id,vessel_status,content,subject,sender,is_private
0,8326412,30832782,45822340,99,99,NaN,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Litasco,None,NaN,None,1.0,Expected,"OHIO 600,000 LITASCO ...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
1,8326413,30832782,45822340,74,74,NaN,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,NaN,None,5.0,Sailed,"SEAVOYAGER 1,050,710 SOCAR SPA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
2,8326414,30832782,45822340,78,78,NaN,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,BP,None,NaN,None,5.0,Sailed,"GEMINI SUN 682,834 BP ITA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
3,8326415,30832782,45822340,73,73,NaN,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,NaN,None,5.0,Sailed,"AEGEAN POWER 472,642 SOCAR TUN...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
4,8326416,30832782,45822340,79,79,NaN,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,ExxonMobil,None,NaN,None,5.0,Sailed,"NISSOS SERIFOS 650,343 EXXON ROM...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True

#### Request by IMOs

To get lineups for specific vessel(s) by their IMO number(s), you can simple call the `get_lineups` method for a list of desired IMO(s)<br>Adding some date argument is always feasible

In [8]:
imos = [9389100, 9399492, 9683013, 9370848, 9420617]

scraped_lineups_by_imos = api.get_lineups(
    vessel_type=vessel_type,
    received_date_from=received_date_from,
    imos=imos,
)

df_by_imos = pd.DataFrame(scraped_lineups_by_imos)
df_by_imos.head()

,lineup_id,message_id,parsed_part_id,line_from,line_to,in_line_order,source,updated_date,received_date,is_deleted,...,buyer,scraped_port_agent,port_agent_id,port_agent,vessel_status_id,vessel_status,content,subject,sender,is_private
0,8326418,30832782,45822340,67,67,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,None,None,5,Sailed,"KMARIN RENOWN 682,966 SOCAR ITA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
1,8326427,30832782,45822340,66,66,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,None,None,5,Sailed,"SILVER 682,790 SOCAR ITA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
2,8326428,30832782,45822340,58,58,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,MOL Chemical Tankers,None,None,None,5,Sailed,"ANAFI WARRIOR 683,652 MOL ITA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
3,8326429,30832782,45822340,89,89,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,BP,None,None,None,3,AtAnchor,"KMARIN RENOWN 600,000 BP ...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
4,8326430,30832782,45822340,84,84,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,None,None,4,AtBerth,"CASCADE SPIRIT 1,000,000 SOCAR TAI...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True

#### Request by lineup IDs

In the same manner, to get data for specific lineup ID(s), you must call the `get_lineups_by_lineup_ids` method for a list of desired lineup ID(s)<br>Date arguments are not available in get_lineups_by_lineup_ids method

In [9]:
lineup_ids = [8326412, 8326413, 8326414, 8326415, 8326416]  # Or add a list of your desired lineup IDs

scraped_lineups_by_ids = api.get_lineups_by_lineup_ids(
    lineup_ids = lineup_ids,
)

df_by_ids = pd.DataFrame(scraped_lineups_by_ids)
df_by_ids.head()

,lineup_id,message_id,parsed_part_id,line_from,line_to,in_line_order,source,updated_date,received_date,is_deleted,...,buyer,scraped_port_agent,port_agent_id,port_agent,vessel_status_id,vessel_status,content,subject,sender,is_private
0,8326412,30832782,45822340,99,99,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Litasco,None,None,None,1,Expected,"OHIO 600,000 LITASCO ...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
1,8326413,30832782,45822340,74,74,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,None,None,5,Sailed,"SEAVOYAGER 1,050,710 SOCAR SPA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
2,8326414,30832782,45822340,78,78,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,BP,None,None,None,5,Sailed,"GEMINI SUN 682,834 BP ITA...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
3,8326415,30832782,45822340,73,73,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,Socar,None,None,None,5,Sailed,"AEGEAN POWER 472,642 SOCAR TUN...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True
4,8326416,30832782,45822340,79,79,None,Email,2022-11-18 09:13:38+00:00,2022-11-18 06:41:04+00:00,False,...,ExxonMobil,None,None,None,5,Sailed,"NISSOS SERIFOS 650,343 EXXON ROM...",Baku-Tblisi-Ceyhan Pipeline Report for Ceyhan ...,Boutros Maritime & Transports,True

#### Export data to csv

In [10]:
output_path = '' # Change output_path with your path
filename = 'last_week_lineups.csv'
if not df.empty:
    df.to_csv(output_path+filename, index=False)